.Time > .Time{
background-color: #22222277;
color:#0a7adb;
-webkit-text-stroke: 2px black;
text-shadow: 5px 2px black;
border-radius: 20px;
padding: 10px;
font-family: Iosevka SS04;
}
.Search{
background-color: #22222277;
border-radius: 20px;
padding: 10px;
}
.Search > input{
color: #0a7adb;
background-color: #222;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
font-family: Iosevka SS04;
border: 1px solid black !important;
box-shadow: 5px 2px black;
}
.Search > input::-webkit-input-placeholder {
text-decoration: underline dotted #666;
-webkit-text-fill-color: #666;
opacity: 1;
}
.Links{
column-gap: 0.5em;
background-color: #22222277;
border-radius: 20px;
padding: 10px;
}
.Links > a{
color: #0a7adb;
background-color: #222;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
font-family: Iosevka SS04;
border: 1px solid black;
box-shadow: 5px 2px black;
}
.Links > a:hover{
background-color: #333;
text-decoration: underline dotted;
}
